*.pth
*.png
*.jpg
*.txt

outputs/

__pycache__/
eval_outputs/
eval_output/
figures/
OBS-Diff/
new_output/
new_log_output/
README_ref.md
./scripts/eval_ricci_prune1.sh
./scripts/eval_ricci_prune2.sh
finetuning_output/
wandb/